/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Esto es para que la tipografía se vean bien*/
*{
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale; }


/* Estilos Generales ---------*/
body {
  background: #e15b32; 
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;}

a   {
    color: inherit;
    text-decoration: none; }

h1  {
    font: 24px/44px "Syncopate", sans-serif;
    color: #fff;    
    font-weight: 900; } 

    @media (min-width: 480px) {
    h1  {    
    font: 36px/44px "Syncopate", sans-serif; 
    font-weight: 900;}
    }

h2  {
    font-size: 30px;}

h3  {
    font-size: 20px: }

h4  {
    font-size: 18px;}

h5  {
    font-size: 14px;}

h6  {
    font-size: 12px;}

p   {
    font: 16px/20px Chivo, sans-serif;
    color: #bfbfbf; }
    p a {
    border-bottom: 1px dotted #bfbfbf;
    padding-bottom: 2px; }

/* Botón a CodePen ---------*/
    #botoncodigo {
    margin-top: -32px;
    background: #E8E8E8;
    padding: 3px 0 3px 80px;}
    #botoncodigo:hover{
    background-color: #3fe132; }
    #botoncodigo p {
    font: 12px/20px "Roboto";
    color: #fff; 
    letter-spacing: 0.02em;
    text-transform: uppercase;}
    /*Esta es la flechita de "Verlo en CodePen"*/
    #botoncodigo span {
	font-family: 'icomoon';
    color: #fff;
    font-size: 15px;
    margin-right: 12px;
    position: relative;
    top: 2px;   }

    /*Entre 0px y 320px*/
    @media (max-width: 320px) {
        #botoncodigo {
        padding: 3px 0 3px 40px;}

    }

    /*Entre 320px y 480px*/
    @media (min-width: 320px) and (max-width: 480px) {
        #botoncodigo {
        padding: 3px 0 3px 40px;}
    }

    /*Entre 480px y 768px / No hay porque funciona bien a este tamaño*/

/*Cabecera---------------------------------------------*/
#cabecera {
    margin-top: 10px;
    padding: 240px 80px 30px;
    background: #2b2a29;    
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
 	border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden;}

    /*Entre 0px y 320px*/
    @media (max-width: 320px) {
    #cabecera {
    padding: 80px 30px 20px;}
    }

    /*Entre 320px y 480px*/
    @media (min-width: 320px) and (max-width: 480px) {
    #cabecera {
    padding: 110px 40px 20px; }
    }    
    
    /*Entre 480px y 768px*/
    @media (min-width: 480px) and (max-width: 768px)  {
    #cabecera {
    padding: 140px 80px 30px;}
    }    

    

/*Estilo de los bloques de texto----------------------------*/
/* Ejemplo uno ---------*/
#uno {
    margin-top: -10px;    
    padding:80px 0px 80px 80px;
    background: #fff;}
    #uno p.heading {
    max-width: 275px;
    padding: 30px 0px 5px 8px;
    color: #fff;
    background-color: #2b2a29; 
    font: 11px "Syncopate", sans-serif;
    font-weight: 800;
    letter-spacing: 1px;   }
    #uno h1 {
    font: 31px/30px "Syncopate", sans-serif;
    font-weight: 400;
    margin: 8px 0 1px 0; 
    color: #2b2a29; }
    #uno h2 {
    max-width: 348px;
    font: 20px/23px "Average", sans-serif;
    color: #53514f; }

    /*Entre 0px y 320px*/
    @media (max-width: 320px) {
        #uno {
        padding: 80px 0px 80px 30px; }
        #uno p.heading {
        max-width: 135px;
        padding: 10px 10px 5px 8px;
        line-height: 15px;  }
        #uno h1 {
        font: 26px/27px "Syncopate", sans-serif; }
        #uno h2 {
        max-width: 238px; }
        }

    /*Entre 320px y 480px*/
    @media (min-width: 320px) and (max-width: 480px) {
        #uno {
        padding: 80px 0px 80px 40px; }
        #uno p.heading {
        max-width: 245px;
        padding: 10px 80px 5px 8px;
        line-height: 15px;  }
        #uno h1 {
        font: 26px/27px "Syncopate", sans-serif; }
        #uno h2 {
        max-width: 238px; }
        }

/* Ejemplo dos ---------*/
#dos {
    margin-top: -16px;     
    padding: 80px 35px 80px 80px;   
    background: #f7f7f7;}
    #dos .text {
    margin-left: -15px;
    max-width: 636px; }
    #dos p  {
    font: 16px/20px 'Georgia', serif;
    color: #2b2a29;}
        #dos p span {
        padding: 10px 0 0 0;}
        #dos p.answer  {
        color: #787777;
        padding-bottom: 19px;
        font-weight: normal;    }
    #dos h1  {
    font: 30px/32px 'Georgia', serif;
    color: #2b2a29;
    letter-spacing: 0.04em;
    margin-bottom: 16px;}
        #dos h1.heading  {
        font: 20px/20px 'Georgia', serif;
        color: #e15b32;
        margin-bottom: 20px;}
        #dos h1.subheading  {
        font: 18px/20px "Georgia", serif;
        margin-bottom: 19px;}
    #dos hr {
    background: none repeat scroll 0 0 #e15b32;
    border: 0 none; 
    height: 2px;
    margin: 39px 0 46px;
    width: 50px; }

    /*Entre 0px y 320px*/
    @media (max-width: 320px) {
        #dos {
        padding: 80px 0px 80px 40px;}
        #dos .text {    
        margin-right: 20px; }
        }

    /*Entre 320px y 480px*/
        @media (min-width: 320px) and (max-width: 480px) {
        #dos {
        padding: 80px 0px 80px 50px; } 
        #dos .text {    
        margin-right: 30px; }
        }

    /*Entre 480px y 768px*/
        @media (min-width: 480px) and (max-width: 768px)  {
        #dos {
        padding: 80px 0px 80px 90px; }  
        #dos .text {    
        margin-right: 20px; }
        }

/* Ejemplo tres ---------*/
#tres {
    height: 635px;
    margin-top: -16px;   
    background: #fff;
    overflow: hidden;}
    #tres .text {
    margin-top: -5px; }
    #tres h1  {
    font: 150px/145px 'Georgia', serif;
    font-weight: 400;
    color: #2b2a29; }
        #tres h1 span.italic {
        font-style: italic; }
        #tres h1 span.kernuno {
        margin: 0 0 0 6px;  }
        #tres h1 span.kerndos {
        margin: 0 0 0 -8px;}
    #tres p {
    font: 37px/40px "helvetica", sans-serif;
    margin: 10px 0 0 0;
    color: #53514f;   }
        #tres p strong {
        font-weight: bold;  }
        #tres p.credito{
        letter-spacing: 0.07em;
        font: 25px/24px "Georgia", serif;}
        #tres p span {
        font-style: italic; }

    /*Entre 0px y 320px*/
    @media (max-width: 320px) {
        #tres {
        height: 395px;
        }
        #tres h1 {
        font: 95px/80px 'Georgia', serif;   }
        #tres p {
        font: 25px/28px "helvetica", sans-serif;}
        #tres p.credito {
        font: 15px/20px "Georgia", serif;}
        }

    /*Entre 320px y 480px*/
    @media (min-width: 320px) and (max-width: 480px) {
        #tres {
        height: 439px;
        }
    #tres h1 {
        font: 99px/95px 'Georgia', serif;   }
    #tres p {
        font: 25px/28px "helvetica", sans-serif;}
        #tres p.credito {
        font: 15px/20px "Georgia", serif;}
        }

    /*Entre 480px y 768px / No hay porque funciona bien a este tamaño*/

/* Ejemplo cuatro ---------*/
#cuatro {
    margin-top: -16px;
    padding: 40px 0 80px 80px;
    background: #f7f7f7; }
    #cuatro h1  {
    font: 40px/35px 'Lilita One', sans-serif;
    color: #53514f;
    letter-spacing: 0.01em;
    text-indent: -18px;
    font-weight: 400; }
    #cuatro h6  {
    font: 15px "Lato", sans-serif;
    color: #2b2a29;
    letter-spacing: 0.05em;
    font-weight: 900;
    margin: 7px 0 0 0;  }
    #cuatro p.heading {
    font: 16px/20px 'Aldrich', sans-serif;
    margin: 0 0 10px 0;  }

    /*Entre 0px y 320px*/
    @media (max-width: 320px) {
        #cuatro {
        padding: 40px 0px 80px 40px;}
        #cuatro h1 {
        font: 30px/29px "Lilita One", sans-serif;
        text-indent: -15px;}
        #cuatro h6 {
        margin-top: 8px;}
        #cuatro p.heading {
        font: 14px/19px "Aldrich", sans-serif;
        margin-bottom: 2px;}
        }

    /*Entre 320px y 480px*/
    @media (min-width: 320px) and (max-width: 480px) {
        #cuatro {
        padding: 40px 0px 80px 40px;}
        #cuatro h1 {
        font: 30px/29px "Lilita One", sans-serif;}
        #cuatro h6 {
        margin-top: 5px;}
        #cuatro p.heading {
        font: 14px/19px "Aldrich", sans-serif;
        margin-bottom: 2px;}
        }

    /*Entre 480px y 768px*/
    @media (min-width: 480px) and (max-width: 768px)  {
        #cuatro {
        padding: 60px 0px 80px 80px;}
        }


/* Ejemplo  cinco ---------*/
#cinco {
    margin-top: -16px;    
    background: #fff;
    overflow: hidden;}
    #cinco .text{
    margin-top: -13px;
    padding-left: 80px;}
    #cinco h1 {
    font: 34px/36px "Chivo", sans-serif;
    letter-spacing: 1px;
    color: #e15b32;
    margin-bottom: 5px;}
    #cinco table {
    font: 20px/40px "Cousine", sans-serif;
    width: 500px;
    text-align: left; }
        #cinco th {
        color: #fff;
        background: #53514f;
        padding-left: 10px;}
        #cinco td {
        border-bottom: 1px solid #e15b32;
        padding-left: 10px;     }
        #cinco tbody tr:nth-child(odd) {
        background: #fcebe5; }
        #cinco .alinizq {
        text-align: right;
        padding-right: 13px; }

    /*Entre 0px y 320px*/
    @media (max-width: 320px) {
        #cinco .text {
        padding-left: 40px; }
        #cinco h1 {
        font: 22px/22px "Chivo", sans-serif;    }
        #cinco table {
        font: 16px/35px "Cousine", sans-serif; 
        width: 450px;}
        #cinco .alinizq {
        padding-right: 73px; }
        }

    /*Entre 320px y 480px*/
    @media (min-width: 320px) and (max-width: 480px) {
        #cinco .text {
        padding-top: 6px;
        padding-left: 40px;}
        #cinco h1 {
        font: 22px/22px "Chivo", sans-serif; 
        margin-bottom: 6px;}
        #cinco table {
        font: 16px/35px "Cousine", sans-serif; 
        width: 450px;}
        #cinco .alinizq {
        padding-right: 73px; }
        }

    /*Entre 480px y 768px / No hay porque funciona bien a este tamaño*/

/* Ejemplo seis ---------*/
#seis {
    margin-top: -16px;
    padding: 40px 0 80px 80px;   
    background: #f7f7f7; }
    #seis .text {
    padding-left: 20px;        
    border-left: 1px solid #53514f;
    max-width: 400px;}
    #seis p {
    font: 15px/20px 'Sintony', sans-serif;
    color: #2b2a29;
    text-indent: 15px;
    padding-bottom: 5px;    }
        #seis p span {
        border-bottom: 1px dotted #53514f;
        padding-bottom: 0.003em;}
        #seis p.heading {
        font: 12px/10px "Sintony", sans-serif;
        letter-spacing: 1px;
        padding-bottom: 20px;
        color: #740808;
        text-indent: 0px;   }
        #seis p.subheading {
        font: 10px/0px "Sintony", sans-serif;
        letter-spacing: 1px;
        padding-top: 15px;
        color: #740808;
        text-indent: 0px;}
        #seis p.sangria {
        text-indent: 0px;   }
    #seis h1 {
    font: 22px/20px 'Sintony', sans-serif;
    color: #e15b32;}

    /*Entre 0px y 320px*/
    @media (max-width: 320px) {
        #seis {
        padding-left: 30px;  }
        #seis .text {
        margin-right: 20px;}
    }

    /*Entre 320px y 480px*/
    @media (min-width: 320px) and (max-width: 480px) {
        #seis {
        padding-left: 20px;  }
        #seis .text {
        margin-right: 30px;}
    }

    /*Entre 480px y 768px*/
    @media (min-width: 480px) and (max-width: 768px)  {
        #seis .text {
        margin-right: 20px;}
    }

/* Ejemplo siete ---------*/
#siete {
    margin-top: -16px;
    padding: 80px 0 80px 80px;   
    background: #fff; }
    #siete .text {
    max-width: 420px;}
    #siete h1 {
    font: 50px/51px "Oswald", sans-serif;
    color: #e15b32;
    margin-left: -5px;
    padding: 10px 0 13px 0; }
        #siete h1 span {
        margin: 0 0 0 2px;  }
    #siete h4 {
    font: 20px/17px "Enriqueta", serif;
    color: #53514f; }
    #siete h5 {
    font: 24px/17px "Oswald", sans-serif;
    color: #53514f; }
    #siete h6 {
    font: 21px/25px "Enriqueta", serif;
    color: #893a21;
    padding-top: 10px;
        padding-right: 10px;}

    /*Entre 0px y 320px*/
    @media (max-width: 320px) {
        #siete {
        padding: 80px 0 80px 40px;   }
        #siete .text {
        margin-right: 20px;}
        #siete h1 {
        font: 30px/31px "Oswald", sans-serif;
        padding: 5px 0 5px 0;
        margin-left: -1px;}
        #siete h4 {
        font: 15px/16px "Enriqueta", serif; }
        #siete h5 {
        font: 19px/16px "Oswald", sans-serif;}
        #siete h6 {
        font: 17px/20px "Enriqueta", serif;}
    }

    /*Entre 320px y 480px*/
    @media (min-width: 320px) and (max-width: 480px) {
        #siete {
        padding: 80px 0 80px 40px;   }
        #siete .text {
        margin-right: 10px;}
        #siete h1 {
        font: 31px/34px "Oswald", sans-serif;
        padding: 5px 0 5px 0;
        margin-left: -2px;}
        #siete h4 {
        font: 16px/17px "Enriqueta", serif; }
        #siete h5 {
        font: 19px/24px "Oswald", sans-serif;}
        #siete h6 {
        font: 18px/21px "Enriqueta", serif;}
    }

    /*Entre 480px y 768px / No hay porque funciona bien a este tamaño*/

/* Footer ---------*/
.footer {
    margin-top: -16px;
    margin-bottom: 20px;
    padding: 30px 35px 30px 60px;  
    background: #2b2a29;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
 	border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; }
    .footer .medianil {
    padding-right: 20px;    
    }

    /*Entre 0px y 320px*/
    @media (max-width: 320px) {
        .footer {
        padding: 30px 35px 30px 40px;  }
    }

    /*Entre 320px y 480px*/
    @media (min-width: 320px) and (max-width: 480px) {
        .footer {
        padding: 30px 35px 30px 40px;  }
    }

    /*Entre 480px y 768px*/
    @media (min-width: 480px) and (max-width: 768px)  {
        .footer {
        padding: 30px 35px 30px 80px;  }
    }

/*Lineas guía*/
.line768 {
    position: fixed;
    left: 717px;
    height: 100%;
    border-right: 1px solid #00f7fa;}
    .line768 p {
    font-size: 12px;    
    color: #2b2a29;
    background-color: #00f7fa;  }

.line480 {
    position: fixed;
    left: 429px;
    height: 100%;
    border-right: 1px solid #00f7fa;}
    .line480 p {
    font-size: 12px;    
    color: #2b2a29;
    background-color: #00f7fa;  }


.line320 {
    position: fixed;
    left: 284px;
    height: 100%;
    border-right: 1px solid #00f7fa;}
    .line320 p {
    font-size: 12px;    
    color: #2b2a29;
    background-color: #00f7fa;  }